@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,700;0,800;1,300&display=swap');



*{
    box-sizing: border-box;
font-family: "Open Sans";

   
}

html, body{

    background-color: #ddd;
}


header {
color: #ffff;    
background-color: #4d41c0

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


a, a:hover {
    text-decoration: none;
    color: unset;
}